:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.answers{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 30px;
}


@media (max-width: 1315px){
  .answers{
    display: grid;
    grid-template-rows:repeat(2,150px);
    grid-auto-flow: column; 
    column-gap:4rem;
    row-gap:4rem;
   
  }
  
}
@media (max-width: 725px){
  .answers{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
  }
  
}
li{
  text-align: justify;
}
ol{
  margin-bottom: 25px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trivia-box{
  display: flex;
  flex-direction: column;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
.question{
font-weight: bold;
}





